<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">

	<!-- wp:group {"metadata":{"name":"Checkin"},"style":{"border":{"style":"solid","width":"1px"}},"borderColor":"accent-6","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-border-color has-accent-6-border-color" style="border-style:solid;border-width:1px">

		<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">

			<!-- wp:group {"style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"uppercase","letterSpacing":"2px"},"spacing":{"blockGap":"6px"}},"fontSize":"small","fontFamily":"brandon-text-cond","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
			<div class="wp-block-group has-brandon-text-cond-font-family has-small-font-size" style="font-style:normal;font-weight:700;letter-spacing:2px;text-transform:uppercase">

				<!-- wp:group {"style":{"spacing":{"blockGap":"0.5em"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
				<div class="wp-block-group">
					<!-- wp:icon {"icon":"core/map-marker","style":{"dimensions":{"width":"1em"}}} /-->

					<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} -->
					<p style="font-style:normal;font-weight:500">Check-in</p>
					<!-- /wp:paragraph -->

					<!-- wp:paragraph -->
					<p>·</p>
					<!-- /wp:paragraph -->

					<!-- wp:nop-indieweb/venue-categories {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"layout":{"type":"constrained","justifyContent":"right"}} -->
				<div class="wp-block-group">
					<!-- wp:post-date {"textAlign":"left","format":"G:i · d.m.Y","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"layout":{"selfStretch":"fill"}},"textColor":"contrast","fontFamily":"brandon-text-cond"} /-->
				</div>
				<!-- /wp:group -->

			</div>
			<!-- /wp:group -->

		</div>
		<!-- /wp:group -->

		<!-- wp:separator {"align":"full","className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"accent-6"} -->
		<hr class="wp-block-separator alignfull has-text-color has-accent-6-color has-alpha-channel-opacity has-accent-6-background-color has-background is-style-default" style="margin-top:0;margin-bottom:0"/>
		<!-- /wp:separator -->

		<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">

			<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical"}} -->
			<div class="wp-block-group">

				<!-- wp:post-title {"style":{"typography":{"lineHeight":"1","fontStyle":"normal","fontWeight":"800","letterSpacing":"-0.02em"}},"fontSize":"x-large","fontFamily":"brandon-text"} /-->

				<!-- wp:nop-indieweb/venue-field {"field":"full_address","style":{"typography":{"fontWeight":"400","fontStyle":"normal"}},"fontSize":"small"} /-->

				<!-- wp:group {"style":{"spacing":{"blockGap":"6px","margin":{"top":"2px"}},"typography":{"fontWeight":"400","fontStyle":"normal"}},"fontSize":"small","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
				<div class="wp-block-group has-small-font-size" style="margin-top:2px;font-style:normal;font-weight:400">
					<!-- wp:group {"style":{"spacing":{"padding":{"top":"0.3em"}}},"layout":{"type":"constrained"}} -->
					<div class="wp-block-group" style="padding-top:0.3em">
						<!-- wp:nop-indieweb/weather-icon {"fontSize":"small"} /-->
					</div>
					<!-- /wp:group -->

					<!-- wp:nop-indieweb/weather-temp {"fontSize":"small"} /-->
				</div>
				<!-- /wp:group -->

			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":"var:preset|spacing|70"} -->
			<div style="height:var(--wp--preset--spacing--70)" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"sizeSlug":"large","style":{"dimensions":{"aspectRatio":"2/1"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-cover" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"placeholder":"Write title…","style":{"typography":{"textAlign":"center"}},"fontSize":"large"} -->
			<p class="has-text-align-center has-large-font-size"></p>
			<!-- /wp:paragraph --></div></div>
			<!-- /wp:cover -->

			<!-- wp:nop-indieweb/checkin-map /-->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group">
				<!-- wp:nop-indieweb/venue-coordinates {"style":{"layout":{"selfStretch":"fill"}},"textColor":"accent-4","fontSize":"small","fontFamily":"fira-code"} /-->

				<!-- wp:nop-indieweb/like-button /-->
			</div>
			<!-- /wp:group -->

		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-top:4rem;margin-bottom:4rem">
	<!-- wp:group {"align":"wide","style":{"border":{"top":{"color":"#e5e7eb","width":"1px"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="border-top-color:#e5e7eb;border-top-width:1px">
		<!-- wp:group {"tagName":"nav","align":"wide","style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"ariaLabel":"Post navigation"} -->
		<nav class="wp-block-group alignwide" aria-label="Post navigation" style="padding-top:2rem;padding-bottom:2rem">
			<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow"} /-->
			<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow"} /-->
		</nav>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
