<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignwide">

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"1.5rem"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:3rem;padding-bottom:1.5rem">

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:group {"style":{"spacing":{"blockGap":"4px","margin":{"top":"1rem"}}},"fontSize":"small","layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group has-small-font-size" style="margin-top:1rem">
			<!-- wp:post-date /-->
			<!-- wp:paragraph -->
			<p>·</p>
			<!-- /wp:paragraph -->
			<!-- wp:post-terms {"term":"post_tag"} /-->
		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:2rem;padding-bottom:3rem">
		<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:3rem;padding-bottom:3rem">
		<!-- wp:nop-indieweb/like-button /-->
		<!-- wp:nop-indieweb/webmentions /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide" style="margin-top:4rem;margin-bottom:4rem">
		<!-- wp:group {"align":"wide","style":{"border":{"top":{"color":"#e5e7eb","width":"1px"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group alignwide" style="border-top-color:#e5e7eb;border-top-width:1px">
			<!-- wp:group {"tagName":"nav","ariaLabel":"Post navigation","align":"wide","style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
			<nav class="wp-block-group alignwide" aria-label="Post navigation" style="padding-top:2rem;padding-bottom:2rem">
				<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow"} /-->
				<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow"} /-->
			</nav>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:3rem;padding-bottom:3rem">
		<!-- wp:post-comments-form /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
