<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">

	<!-- wp:group {"metadata":{"name":"RSVP"},"style":{"border":{"style":"solid","width":"1px"}},"borderColor":"accent-6","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-border-color has-accent-6-border-color" style="border-style:solid;border-width:1px">

		<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">

			<!-- wp:group {"style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"uppercase","letterSpacing":"2px"},"spacing":{"blockGap":"6px"}},"fontSize":"small","fontFamily":"brandon-text-cond","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
			<div class="wp-block-group has-brandon-text-cond-font-family has-small-font-size" style="font-style:normal;font-weight:700;letter-spacing:2px;text-transform:uppercase">

				<!-- wp:group {"style":{"spacing":{"blockGap":"0.5em"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
				<div class="wp-block-group">
					<!-- wp:icon {"icon":"core/calendar","style":{"dimensions":{"width":"1em"}}} /-->

					<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} -->
					<p style="font-style:normal;font-weight:500"><a href="/kind/rsvp/">RSVP</a></p>
					<!-- /wp:paragraph -->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"layout":{"type":"constrained","justifyContent":"right"}} -->
				<div class="wp-block-group">
					<!-- wp:post-date {"textAlign":"left","format":"G:i · d.m.Y","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"layout":{"selfStretch":"fill"}},"textColor":"contrast","fontFamily":"brandon-text-cond"} /-->
				</div>
				<!-- /wp:group -->

			</div>
			<!-- /wp:group -->

		</div>
		<!-- /wp:group -->

		<!-- wp:separator {"align":"full","className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"accent-6"} -->
		<hr class="wp-block-separator alignfull has-text-color has-accent-6-color has-alpha-channel-opacity has-accent-6-background-color has-background is-style-default" style="margin-top:0;margin-bottom:0"/>
		<!-- /wp:separator -->

		<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">

			<!-- wp:nop-indieweb/rsvp-meta /-->

			<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

		</div>
		<!-- /wp:group -->

		<!-- wp:separator {"align":"full","className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"accent-6"} -->
		<hr class="wp-block-separator alignfull has-text-color has-accent-6-color has-alpha-channel-opacity has-accent-6-background-color has-background is-style-default" style="margin-top:0;margin-bottom:0"/>
		<!-- /wp:separator -->

		<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
			<!-- wp:nop-indieweb/post-footer /-->
			<!-- wp:nop-indieweb/webmentions /-->
		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-top:4rem;margin-bottom:4rem">
	<!-- wp:group {"align":"wide","style":{"border":{"top":{"color":"#e5e7eb","width":"1px"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="border-top-color:#e5e7eb;border-top-width:1px">
		<!-- wp:group {"tagName":"nav","align":"wide","style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"ariaLabel":"Post navigation"} -->
		<nav class="wp-block-group alignwide" aria-label="Post navigation" style="padding-top:2rem;padding-bottom:2rem">
			<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow","taxonomy":"nop_kind","inSameTerm":true} /-->
			<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow","taxonomy":"nop_kind","inSameTerm":true} /-->
		</nav>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
